@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    
}
body{
    overflow: hidden;
}
.container{
    background-image: linear-gradient(#fafafa,#3541f5);
    height: 100vh;
    width: 100vw!important;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex-wrap: wrap;

}
h3{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100vw;
    height: 2rem;
    padding-top: 8px;
    background-color: transparent;
    /* background-image: linear-gradient(#fafafa,#efeff9); */
    
}
.gradient-text {
    background-color: #4075ce;
    background-image: linear-gradient(45deg, #8d94f7, #e4dd00);
    background-size: 100%;
    font-size: 52px;
    display: flex;
    margin-top: 2%;
    justify-content: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
}
.show_time,.today_date,.event_date{
    text-align: center;
    background-color: rgba(0,0,0, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 28.1px black;
    border-radius: 18px;
}
.show_time{
    font-family: 'Poppins', sans-serif;
    height: 36vh;
    width: auto;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}
.left_side{
    display: block;
    position: relative;
    height: 11rem;
    background-color: transparent;
    width: 12rem;
    margin-left: 1rem;
}
.event_date{
    position: absolute;
    bottom: 26px;
    width: -webkit-fill-available;
    height: 3rem;
    z-index: 2;
}
.today_date{
    position: absolute;
    top: 41px;
    width: -webkit-fill-available;
    height: 3rem;
    z-index: 2;
}

.time{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    height: 76vh;
    width: 100vw;
    background-color:transparent;
    justify-content: center;
    align-items: center;
}
.details{
    position: relative;
    z-index: 2;
    height: 51vh;
    width: 33em;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border-radius: 28px;
    box-shadow: 0 0 28.1px black;
    justify-content: center;
}
.container::before{
    content:'';
    position: absolute;
    background-image: linear-gradient(#fafafa,red);
    width: 88%;
    height: 83%;
    clip-path: circle(18% at 36% 51%);
    z-index: 1;
    transform: linear;
    animation: red_circle 5s infinite ;
}

.time::before{
    content: '';
    position: absolute;
    background-image: linear-gradient(#f58282,#6f00ff);
    width: 60%;
    height: 60%;
    clip-path: circle(12% at 71% 28%);
    z-index: 1;
    animation: blue_circle 5s linear infinite;
}

.container::after{
    content: '';
    position: absolute;
    background-image: linear-gradient(#e91e63,#ffc107);
    width: 88%;
    height: 84%;
    clip-path: circle(11% at 67% 79%);
    z-index: 1;
    animation: yellow_circle 5s infinite;
    
}
@keyframes blue_circle{
    0%{transform: translate(45px, 13px);}
    50%{transform: translate(45px, -13px);}
    100%{transform: translate(45px, 13px);}
}
@keyframes red_circle{
    0%{transform: translate(45px, 26px);}
    50%{transform: translate(45px, -26px);}
    100%{transform: translate(45px, 26px);}
}
@keyframes yellow_circle{
    0%{transform: translate(43px, -20px);}
    50%{transform: translate(38px, -32px);}
    100%{transform: translate(43px, -20px);}
}
.input{
    width: 71%;
    height: 8vh;
    margin: 1rem 0;
    /* margin-left: 5.5rem; */
    align-self: center;
    text-align: center;
    border: none;
    outline: none;
    font-size: 22px;
    border-radius: 12px;
}
.input:hover{
    box-shadow: 0 0 11px black;
}
.button{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.btn{
    color: whitesmoke;
    text-align: center;
    /* margin: 0rem -3rem; */
    position: absolute;
    bottom: 4rem;
    z-index: 20;
    font-family: 'Poppins', sans-serif;
    height: 2rem;
    width: 9rem;
    text-align: center;
    padding-top: 12px;
    font-size: 15px;
    background-color: rgb(100 197 101 / 40%);
    backdrop-filter: blur(45px);
    border-radius: 25px;
    
}
.btn:hover{
    box-shadow: 0 0 28.1px black;
    cursor: pointer;
}

.show_time>span{
    display: flex;
    color: white;
    font-size: xx-large;;
    font-family: 'Poppins', sans-serif;
    margin-top: 3rem;
}

.alert{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    background-color: #00fa9ad9;
    max-width: 100vw;
    min-height: auto;
    /* max-height: 3rem; */
    text-align: center;
    font-size: 163%;
    color: red;
    position: sticky;
    z-index: 3;
    justify-content: center;
}
.time_show{
    display:none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: auto;
}
@media (max-width: 469px) {
    .gradient-text {
        font-size: 33px;
        margin-top: 2%;
    }
  }
/* @media (max-width: 777px) {
    
  } */
  
